
hostName: 'accuklein'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: True
requestedMode: 0
wifiDisabled: False
wifiDisabledOnBoot: False
program: 'Iotsa Data Logger Server'
bootCause: 'power'
uptime: 120
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'pico32'
        programVersion: 'f1e31f4'
        programRepo: 'https://github.com/cwi-dis/iotsaDataLogger'
        board: 'pico32'
    wificonfig: 
        ssid: 'wijnbes'
        has_ssidPassword: True
    datalogger: 
        now: '2025-05-18T11:32:51'
        data: 
            - 
                t: '2025-04-06T14:18:34'
                ts: 1743941914
                v: 14.12035179
            - 
                t: '2025-05-18T09:39:59'
                ts: 1747553999
                v: 12.86294365
        count: 510
        archive: 
            data: 
                - 
                    t: '2024-09-14T23:59:32'
                    ts: 1726351172
                    v: 12.20450401
                - 
                    t: '2025-04-06T12:50:21'
                    ts: 1743936621
                    v: 13.58085632
            count: 2454
        interval: 7200
        adcMultiply: 0.00531
        adcOffset: 0
        deepSleep: True
    rtcconfig: 
        isoTime: '2025-05-18T09:32:52'
    ntpconfig: 
        ntpServer: 'pool.ntp.org'
        tzDescription: 'CET-1CEST'
        minutesWest: 0
features: 
    - 'http'
    - 'mdns'
