
hostName: 'accugroot'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: True
requestedMode: 0
wifiDisabled: False
wifiDisabledOnBoot: False
program: 'Iotsa Data Logger Server'
bootCause: 'power'
uptime: 115
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'pico32'
        programVersion: 'f1e31f4'
        programRepo: 'https://github.com/cwi-dis/iotsaDataLogger'
        board: 'pico32'
    wificonfig: 
        ssid: 'wijnbes'
        has_ssidPassword: True
    datalogger: 
        now: '2025-05-18T11:32:33'
        data: 
            - 
                t: '2025-04-06T14:17:22'
                ts: 1743941842
                v: 14.82044697
            - 
                t: '2025-05-18T11:15:14'
                ts: 1747559714
                v: 13.51097584
        count: 505
        archive: 
            data: 
                - 
                    t: '2024-07-07T15:16:10'
                    ts: 1720358170
                    v: 13.45027161
                - 
                    t: '2025-04-06T13:29:01'
                    ts: 1743938941
                    v: 14.95052814
            count: 3277
        interval: 7200
        adcMultiply: 0.00542
        adcOffset: 0
        deepSleep: True
    rtcconfig: 
        isoTime: '2025-05-18T09:35:56'
    ntpconfig: 
        ntpServer: 'pool.ntp.org'
        tzDescription: 'CET-1CEST'
        minutesWest: 0
features: 
    - 'http'
    - 'mdns'
