IotsaHPSProtocolHandler(hps://bank)
HPS GET hps://bank/api/config
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"hostName":"bank","modeTimeout":300,"currentMode":0,"privateWifi":false,"mdnsEnabled":false,"requestedMode":0,"wifiDisabled":true,"wifiDisabledOnBoot":true,"bleDisabled":false,"bleDisabledOnBoot":false,"program":"Lissabon Dimmer","bootCause":"externalReset","uptime":1116,"modules":["version","battery","config","wificonfig","dimmer","bleserver","hps"],"features":["http","hps","ble"]}
HPS GET hps://bank/api/version
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"iotsaVersion":"2.7","iotsaFullVersion":"2.7+sha.2fda7f9","programName":"lissabon-plugin-dimmer","programVersion":"901d020","programRepo":"https://github.com/cwi-dis/lissabon","board":"esp32"}
HPS GET hps://bank/api/battery
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"sleepMode":2,"sleepDuration":1200,"wakeDuration":80,"bootExtraWakeDuration":20000,"activityExtraWakeDuration":10000,"postponeSleep":10000,"watchdogDuration":5000,"disableSleepOnWiFi":true}
HPS GET hps://bank/api/wificonfig
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"ssid":"","has_ssidPassword":false}
HPS GET hps://bank/api/dimmer
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"name":"","available":true,"isOn":false,"level":0.319999993,"minLevel":0.119999997,"gamma":2.200000048,"animation":2000,"pwmFrequency":16000}
HPS GET hps://bank/api/bleserver
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"isEnabled":true,"adv_min":30,"adv_max":30,"tx_power":-1}
HPS GET hps://bank/api/hps
HPS status b'\x94\x01\x00'
HPS HTTP Status=404, dataStatus=0x0

hostName: 'bank'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: False
requestedMode: 0
wifiDisabled: True
wifiDisabledOnBoot: True
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon Dimmer'
bootCause: 'externalReset'
uptime: 1116
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'lissabon-plugin-dimmer'
        programVersion: '901d020'
        programRepo: 'https://github.com/cwi-dis/lissabon'
        board: 'esp32'
    battery: 
        sleepMode: 2
        sleepDuration: 1200
        wakeDuration: 80
        bootExtraWakeDuration: 20000
        activityExtraWakeDuration: 10000
        postponeSleep: 10000
        watchdogDuration: 5000
        disableSleepOnWiFi: True
    wificonfig: 
        ssid: ''
        has_ssidPassword: False
    dimmer: 
        name: ''
        available: True
        isOn: False
        level: 0.319999993
        minLevel: 0.119999997
        gamma: 2.200000048
        animation: 2000
        pwmFrequency: 16000
    bleserver: 
        isEnabled: True
        adv_min: 30
        adv_max: 30
        tx_power: -1
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
