
hostName: 'keuken'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: False
requestedMode: 0
wifiDisabled: True
wifiDisabledOnBoot: True
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon Dimmer'
bootCause: 'externalReset'
uptime: 3171
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'lissabon-buttons-dimmer'
        programVersion: '901d020'
        programRepo: 'https://github.com/cwi-dis/lissabon'
        board: 'esp32'
    battery: 
        sleepMode: 2
        sleepDuration: 1200
        wakeDuration: 80
        bootExtraWakeDuration: 20000
        activityExtraWakeDuration: 10000
        postponeSleep: 10000
        watchdogDuration: 5000
        disableSleepOnWiFi: True
    wificonfig: 
        ssid: ''
        has_ssidPassword: False
    dimmer: 
        name: ''
        available: True
        isOn: False
        level: 0.219999999
        minLevel: 0.200000003
        gamma: 2.200000048
        animation: 2000
        pwmFrequency: 20000
    bleserver: 
        isEnabled: True
        adv_min: 30
        adv_max: 30
        tx_power: -1
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
