
hostName: 'stripkeuken'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: False
requestedMode: 0
wifiDisabled: True
wifiDisabledOnBoot: True
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon LEDstrip'
bootCause: 'externalReset'
uptime: 3291
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'lissabon-5v-ledstrip'
        programVersion: '901d020'
        programRepo: 'https://github.com/cwi-dis/lissabon'
        board: 'pico32'
    battery: 
        sleepMode: 2
        sleepDuration: 1200
        wakeDuration: 80
        bootExtraWakeDuration: 20000
        activityExtraWakeDuration: 10000
        postponeSleep: 10000
        watchdogDuration: 5000
        levelVBat: 163
        correctionVBat: 1.049999952
        disableSleepOnWiFi: True
    wificonfig: 
        ssid: ''
        has_ssidPassword: False
    ledstrip: 
        whiteTemperature: 3600
        whiteBrightness: 1.799999952
        focalPoint: 0.5
        focalSpread: 1
        ccMaxLevel: 0.629131675
        ccTemperature: 2400
        ccLevel_r: 0
        ccLevel_g: 0
        ccLevel_b: 0
        ccLevel_w: 0
        name: ''
        available: True
        isOn: True
        level: 0
        minLevel: 0
        gamma: 1
        animation: 1000
        temperature: 2400
    pixelstrip: 
        pin: 4
        count: 71
        pixel_type: 'NeoGrbwFeature'
        pixel_bpp: 4
        pixel_method: 'Neo800KbpsMethod'
    bleserver: 
        isEnabled: True
        adv_min: 30
        adv_max: 30
        tx_power: -1
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
