
hostName: 'stripdeur'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: True
requestedMode: 0
wifiDisabled: False
wifiDisabledOnBoot: False
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon LEDstrip'
bootCause: 'power'
uptime: 487
modules: 
    version: 
        iotsaVersion: '2.8.1'
        iotsaFullVersion: '2.8.1+sha.v2.8.1'
        programName: 'lissabon-5v-ledstrip'
        programVersion: '0890048'
        programRepo: 'https://github.com/cwi-dis/lissabon'
        board: 'pico32'
    battery: 
        sleepMode: 0
        sleepDuration: 0
        wakeDuration: 0
        bootExtraWakeDuration: 0
        activityExtraWakeDuration: 0
        postponeSleep: 0
        watchdogDuration: 0
        levelVBat: 0
        correctionVBat: 1
        disableSleepOnWiFi: False
    wificonfig: 
        ssid: 'wijnbes'
        has_ssidPassword: True
    ledstrip: 
        whiteTemperature: 4000
        whiteBrightness: 1
        focalPoint: 0.5
        focalSpread: 1
        inCalibrationMode: False
        ccMaxLevel: 0.858824
        ccTemperature: 3500
        ccLevel_r: 0.070588
        ccLevel_g: 0.031373
        ccLevel_b: 0
        ccLevel_w: 0.403922
        name: ''
        available: True
        isOn: True
        level: 0.24
        minLevel: 0.1
        gamma: 1
        animation: 500
        temperature: 3500
    pixelstrip: 
        pin: 4
        count: 2
        pixel_type: 'NeoGrbwFeature'
        pixel_bpp: 4
        pixel_method: 'Neo800KbpsMethod'
    bleserver: 
        isEnabled: True
        adv_min: -1
        adv_max: -1
        tx_power: -1
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
    - 'mdns'
