
hostName: 'stripdeur'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: True
requestedMode: 0
wifiDisabled: False
wifiDisabledOnBoot: False
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon LEDstrip'
bootCause: 'power'
uptime: 27
modules: 
    version: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    battery: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    wificonfig: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    ledstrip: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    pixelstrip: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    bleserver: 
        hostName: 'stripdeur'
        modeTimeout: 300
        currentMode: 0
        privateWifi: False
        mdnsEnabled: True
        requestedMode: 0
        wifiDisabled: False
        wifiDisabledOnBoot: False
        bleDisabled: False
        bleDisabledOnBoot: False
        program: 'Lissabon LEDstrip'
        bootCause: 'power'
        uptime: 27
        modules: 
            - 'version'
            - 'battery'
            - 'config'
            - 'wificonfig'
            - 'ledstrip'
            - 'pixelstrip'
            - 'bleserver'
            - 'hps'
        features: 
            - 'http'
            - 'hps'
            - 'ble'
            - 'mdns'
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
    - 'mdns'
