IotsaHPSProtocolHandler(hps://striprechts)
HPS GET hps://striprechts/api/config
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"hostName":"striprechts","modeTimeout":300,"currentMode":0,"privateWifi":false,"mdnsEnabled":false,"requestedMode":0,"wifiDisabled":true,"wifiDisabledOnBoot":true,"bleDisabled":false,"bleDisabledOnBoot":false,"program":"Lissabon LEDstrip","bootCause":"externalReset","uptime":31596,"modules":["version","battery","config","wificonfig","ledstrip","pixelstrip","bleserver","hps"],"features":["http","hps","ble"]}
HPS GET hps://striprechts/api/version
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"iotsaVersion":"2.7","iotsaFullVersion":"2.7+sha.2fda7f9","programName":"lissabon-5v-ledstrip","programVersion":"901d020","programRepo":"https://github.com/cwi-dis/lissabon","board":"pico32"}
HPS GET hps://striprechts/api/battery
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"sleepMode":2,"sleepDuration":1200,"wakeDuration":80,"bootExtraWakeDuration":20000,"activityExtraWakeDuration":10000,"postponeSleep":10000,"watchdogDuration":5000,"levelVBat":147,"correctionVBat":1.049999952,"disableSleepOnWiFi":true}
HPS GET hps://striprechts/api/wificonfig
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"ssid":"","has_ssidPassword":false}
HPS GET hps://striprechts/api/ledstrip
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"whiteTemperature":4200,"whiteBrightness":1.799999952,"focalPoint":0.800000012,"focalSpread":1,"ccMaxLevel":0.818860888,"ccTemperature":2750,"ccLevel_r":0.13333334,"ccLevel_g":0.062745102,"ccLevel_b":0,"ccLevel_w":0.078431375,"name":"","available":true,"isOn":false,"level":0.099992,"minLevel":0,"gamma":1,"animation":0,"temperature":2750}
HPS GET hps://striprechts/api/pixelstrip
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"pin":4,"count":45,"pixel_type":"NeoGrbwFeature","pixel_bpp":4,"pixel_method":"Neo800KbpsMethod"}
HPS GET hps://striprechts/api/bleserver
HPS status b'\xc8\x00\x04'
HPS HTTP Status=200, dataStatus=0x4
HPS GET returned {"isEnabled":true,"adv_min":30,"adv_max":30,"tx_power":-1}
HPS GET hps://striprechts/api/hps
HPS status b'\x94\x01\x00'
HPS HTTP Status=404, dataStatus=0x0

hostName: 'striprechts'
modeTimeout: 300
currentMode: 0
privateWifi: False
mdnsEnabled: False
requestedMode: 0
wifiDisabled: True
wifiDisabledOnBoot: True
bleDisabled: False
bleDisabledOnBoot: False
program: 'Lissabon LEDstrip'
bootCause: 'externalReset'
uptime: 31596
modules: 
    version: 
        iotsaVersion: '2.7'
        iotsaFullVersion: '2.7+sha.2fda7f9'
        programName: 'lissabon-5v-ledstrip'
        programVersion: '901d020'
        programRepo: 'https://github.com/cwi-dis/lissabon'
        board: 'pico32'
    battery: 
        sleepMode: 2
        sleepDuration: 1200
        wakeDuration: 80
        bootExtraWakeDuration: 20000
        activityExtraWakeDuration: 10000
        postponeSleep: 10000
        watchdogDuration: 5000
        levelVBat: 147
        correctionVBat: 1.049999952
        disableSleepOnWiFi: True
    wificonfig: 
        ssid: ''
        has_ssidPassword: False
    ledstrip: 
        whiteTemperature: 4200
        whiteBrightness: 1.799999952
        focalPoint: 0.800000012
        focalSpread: 1
        ccMaxLevel: 0.818860888
        ccTemperature: 2750
        ccLevel_r: 0.13333334
        ccLevel_g: 0.062745102
        ccLevel_b: 0
        ccLevel_w: 0.078431375
        name: ''
        available: True
        isOn: False
        level: 0.099992
        minLevel: 0
        gamma: 1
        animation: 0
        temperature: 2750
    pixelstrip: 
        pin: 4
        count: 45
        pixel_type: 'NeoGrbwFeature'
        pixel_bpp: 4
        pixel_method: 'Neo800KbpsMethod'
    bleserver: 
        isEnabled: True
        adv_min: 30
        adv_max: 30
        tx_power: -1
    hps: None
features: 
    - 'http'
    - 'hps'
    - 'ble'
